defaults: &defaults
  adapter: mysql
  encoding: utf8
  reconnect: false
  pool: 5
  username: root
  password:  

development:
  database: test_development
  <<: *defaults

test:
  database: test_test
  <<: *defaults

production:
  database: test_production
  <<: *defaults